# credentials for NGROK account used for the database
NGROK_PSQL_USERNAME=username
NGROK_PSQL_AUTH_TOKEN=ngrok_auth_token
NGROK_PSQL_HTTP_STATIC_DOMAIN=your_free_static_domain
PSQL_TABLE=your_table_name

# credentials for the NGROK account used for the robofleet server
NGROK_RF_PROCESS_UID=robofleet_server
NGROK_RF_USERNAME=username
NGROK_RF_AUTH_TOKEN=ngrok_auth_token